extends mainLayout

block content
  link(rel="stylesheet", href="/stylesheets/main.css")
  link(rel="stylesheet", href="/stylesheets/list.css")
  section#main
    section#search
      .container
        .search 
          form(action="/search", method="get")
            .search_item
              input#searchText(type="text", name="search")
              span.icon_search.icon.ir_pm 검색
            .gridContainer 
              .item
                input#radio_name(type="radio", name="column" value="name" checked)
                label.button(for="radio_name") 제목
              .item
                input#radio_descript(type="radio", name="column" value="descript" )
                label.button(for="radio_descript") 내용
              .item
                input#radio_author(type="radio", name="column" value="author" )
                label.button(for="radio_author") 저자

    if lectures_sql
      section#lecture
        .container
            if lectures_sql.length == 0
              h1(style="font-size: 30px;margin-top: 20px;width: auto;padding: 10px 20px;background: #1dc078;color: #fff;border-radius: 8px;") 강의가 존재하지 않습니다.
            else 
              .gridContainer
                each lecture in lectures_sql
                  .lectureCard
                    a(href=`/lecture/${lecture.id}`)
                      .image
                        img(src=`/images/lecture/${lecture.name}.png`, alt=`${lecture.name}`)
                      .tit=lecture.name
                      .author=lecture.nickName
                      .price=lecture.price == 0 ? "무료" : "₩"+lecture.price 
            
            .bottom
              span.prevButton
              //-   button.button.greenButton 이전페이지
              span.navSelector
                -for(let i =0; i < 5; i++)
                  if i === 0
                    span.button.on=i + 1
                  else if i < (Math.floor(lectures_count / 12) + (lectures_count % 12 > 0 ? 1 : 0))
                    span.button=i + 1
              span.nextButton
              if (lectures_count / 12) > 5
                  button.button.greenButton(onclick="pageClickEvent(null,6)") 다음페이지


block script
  script(src="/javascripts/list.js")