extends mainLayout

block content
  link(rel="stylesheet", href="/stylesheets/main.css")
  section#main
    section#search
      .container
        .tit 인프런에서 연봉을 올리세요
        .search
          form(action="/search", method="get")
            input#searchText(type="text", name="search")
            span.icon_search.icon.ir_pm 검색
    
    section#lecture
      .container
        .banner
          .main 새로운 강의 보기
          .sub 다양한 강의를 인프런에서는 준비되습니다.
       
          if lectures_sql.length == 0
            h1(style="font-size: 30px;margin-top: 20px;width: auto;padding: 10px 20px;background: #1dc078;color: #fff;border-radius: 8px;") 강의가 존재하지 않습니다.
          else 
            .gridContainer
              each lecture in lectures_sql
                .lectureCard
                  a(href=`/lecture/${lecture.id}`)
                    .image
                      img(src=`/images/lecture/${lecture.name}.png`, alt=`${lecture.name}`)
                    .tit=lecture.name
                    .author=lecture.nickname
                    .score(value=5)
                    .price=lecture.price == 0 ? "무료" : "₩"+lecture.price 
          //- .lectureCard
          //-   a(href="/lecture/test")
          //-     .image
          //-       img(src="/images/lecture/spring1.png", alt="spring1")
          //-     .tit 스프링 입문 - 코드로 배우는 스프링 부트, 웹 MVC, DB 접근 기술
          //-     .author 백기선
          //-     .score(value=5)
          //-     .price ₩24,750
          //- .lectureCard
          //-   a(href="/lecture/test")
          //-     .image
          //-       img(src="/images/lecture/spring1.png", alt="spring1")
          //-     .tit 스프링 입문 - 코드로 배우는 스프링 부트, 웹 MVC, DB 접근 기술
          //-     .author 백기선
          //-     .score(value=5)
          //-     .price ₩24,750
          //- .lectureCard
          //-   a(href="/lecture/test")
          //-     .image
          //-       img(src="/images/lecture/spring1.png", alt="spring1")
          //-     .tit 스프링 입문 - 코드로 배우는 스프링 부트, 웹 MVC, DB 접근 기술
          //-     .author 백기선
          //-     .score(value=5)
          //-     .price ₩24,750

    
    section#question
      .container
        .banner
          .main 새로운 묻고 답하기
          .sub 서로 소통하며 코딩 능력 && 소통 능력 == true
        .gridContainer
          each question in questions_sql
            a(href="/question/" + question.id)
              .card
                .tit
                  span.logo.questionLogo Q.
                  span=question.name
                .desc=question.descript 
          //- .card
          //-   .tit
          //-     span.logo.questionLogo Q.
          //-     span 질문
          //-   .desc 안녕하세요. 질문이 있습니다. 이곳은 처음 방문 하지만..
          //- .card
          //-   .tit
          //-     span.logo.questionLogo Q.
          //-     span 질문
          //-   .desc 안녕하세요. 질문이 있습니다. 이곳은 처음 방문 하지만..
          //- .card
          //-   .tit
          //-     span.logo.questionLogo Q.
          //-     span 질문
          //-   .desc 안녕하세요. 질문이 있습니다. 이곳은 처음 방문 하지만 이곳은 처음 방문 하지만이곳은 처음 방문 하지만이곳은 처음 방문 하지만이곳은 처음 방문 하지만이곳은 처음 방문 하지만


