extends mainLayout

block content
  link(rel="stylesheet", href="/stylesheets/question_detail.css")
  //- Q & A
  #QnA
    .container
      .tit=questionData[0].name
      .cardList
        each data in questionData
          .card
            .authorIcon
              img(src="/images/profile/default_profile.png", alt="사용자 이미지")
            .content
              p
              .top
                span.author
                  strong=`작성자:${data.nickname}` 
                span.time 2일전
              pre.descript=data.descript
      .card.input_card
        .main_tit 답변 작성하기
        //- .tit
        //-   input#tit_text(type="text", name="tit_text" placeholder="질문 제목")
        .textArea
          textarea#descript_text(name="text", cols="30", rows="10" placeholder="답변 내용")
        .submit
          input(type="hidden", name="lectures_id" value=`${questionData[0].lectures_id}`)
          input(type="hidden", name="groupId" value=`${questionData[0].question_id}`)
          input.greenButton(type="submit", value="작성하기")