extends mainLayout

block content
  link(rel="stylesheet", href="/stylesheets/main.css")
  link(rel="stylesheet", href="/stylesheets/list.css")
  section#main
    section#search
      .container
        .search 
          form(action="/search", method="get")
            .search_item
              input#searchText(type="text", name="search")
              span.icon_search.icon.ir_pm 검색
            .gridContainer 
              .item
                if search_column === "name"
                  input#radio_name(type="radio", name="column" value="name" checked)
                else
                  input#radio_name(type="radio", name="column" value="name" )
                label.button(for="radio_name") 제목
              .item
                if search_column === "descript"
                  input#radio_descript(type="radio", name="column" value="descript" checked)
                else
                  input#radio_descript(type="radio", name="column" value="descript" )
                label.button(for="radio_descript") 내용
              .item
                if search_column === "author"
                  input#radio_author(type="radio", name="column" value="author" checked)
                else
                  input#radio_author(type="radio", name="column" value="author" )
                label.button(for="radio_author") 저자
    
    section#lecture
      .container
        .banner
          .main= search_name + "검색 결과"
          .sub 다양한 강의를 인프런에서는 준비되습니다.

          if lectures_sql.length == 0
            h1(style="font-size: 30px;margin-top: 20px;width: auto;padding: 10px 20px;background: #1dc078;color: #fff;border-radius: 8px;") 검색 결과가 존재하지 않습니다.
          else 
            .gridContainer
              each lecture in lectures_sql
                .lectureCard
                  a(href=`/lecture/${lecture.id}`)
                    .image
                      img(src=`/images/lecture/${lecture.name}.png`, alt=`${lecture.name}`)
                    .tit=lecture.name
                    .author=lecture.nickname
                    .score(value=5)
                    .price=lecture.price == 0 ? "무료" : "₩"+lecture.price 